In [10]:
#Q1
#1.string
s="string_data"
#2.list
l=[1,2,3,4,5,6]
#3.float
f=3.14
#tuple
t=(1,2,3,4,5,6)

In [11]:
#Q2
var1=""
var2='[DS,ML,PYTHON]'
var3=['DS','ML','PYTHON']
var4=1

In [12]:
type(var1)

str

In [13]:
type(var2)

str

In [14]:
type(var3)

list

In [15]:
type(var4)

int

In [16]:
#Q3
10/3 #divison operator

3.3333333333333335

In [17]:
10%3 #a%b means remainder when a is divided by b

1

In [18]:
10//3 #a//b floor function, a//b means graetest integer when a is divided by b not greater than a/b

3

In [21]:
10**3 #a**b means a to the power b or result when a multiplied b times

1000

In [23]:
#Q4
l=[1,2,3,4,5,True,"abc",'xyz',False,1.2]
for i in l:
    print(i)
    print(type(i))

1
<class 'int'>
2
<class 'int'>
3
<class 'int'>
4
<class 'int'>
5
<class 'int'>
True
<class 'bool'>
abc
<class 'str'>
xyz
<class 'str'>
False
<class 'bool'>
1.2
<class 'float'>

In [ ]:
#Q5 using if else

In [5]:
A = float(input("Enter first number A:"))
B = float(input("Enter second number B:"))
if A%B == 0:
    print("Number of times A divides B is: ",A/B)
else:
    print("Number A is not purely divisible by B.")

Enter first number A: 21
Enter second number B: 4

Number A is not purely divisible by B.

In [ ]:
"""#Q5 using while loop
A = float(input("Enter first number A:"))
B = float(input("Enter second number B:"))
i=A-B
r=0
while i>B:
    i=A-B
    r=r+1"""

In [3]:
#Q6
l=list(range(1,26))

In [4]:
l

[1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25]

In [6]:
for i in l:
    if i%3==0:
        print(i," is divisible by 3.")
    else:
        print(i," is not divisible by 3.")

1  is not divisible by 3.
2  is not divisible by 3.
3  is divisible by 3.
4  is not divisible by 3.
5  is not divisible by 3.
6  is divisible by 3.
7  is not divisible by 3.
8  is not divisible by 3.
9  is divisible by 3.
10  is not divisible by 3.
11  is not divisible by 3.
12  is divisible by 3.
13  is not divisible by 3.
14  is not divisible by 3.
15  is divisible by 3.
16  is not divisible by 3.
17  is not divisible by 3.
18  is divisible by 3.
19  is not divisible by 3.
20  is not divisible by 3.
21  is divisible by 3.
22  is not divisible by 3.
23  is not divisible by 3.
24  is divisible by 3.
25  is not divisible by 3.

In [7]:
#Q7 
#MUTABLE & IMMUTABLE: if a data can be changed by recalling it through its index and can be changed then it is mutable else immutable
#list data type are mutable however sets,strings are some of immutable data types.

In [8]:
l=[1,2,3,4,5,6,7,8]

In [9]:
l[0]

1

In [10]:
l[0]=5

In [11]:
l[0]

5

In [12]:
l

[5, 2, 3, 4, 5, 6, 7, 8]

In [13]:
#l (which is a list) is mutable

In [14]:
a="pwskills"

In [15]:
a[0]

'p'

In [16]:
a[0]="f"

TypeError: 'str' object does not support item assignment

In [ ]:
#a is a string is immutable